* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://picsum.photos/1600/900");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Aumentando o tamanho do título */
h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 40px;
    font-size: 60px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #9ee01a;
}

#scissors {
    background-color: #7dbeed;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

.result {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.your-score span {
    color: rgb(77, 128, 216);
}

.machine-score span {
    color: rgb(224, 71, 15);
}
/* Para celular */
h1 {
    font-size: 3rem; /* Aumenta o tamanho do título */
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        padding: 50px;
        width: 90%;
    }

    .buttons {
        gap: 20px;
        flex-wrap: wrap; /* Para os botões ficarem em duas linhas se necessário */
    }

    button {
        padding: 30px;
        font-size: 40px;
    }

    h1 {
        font-size: 2rem; /* Reduz tamanho do título para não quebrar */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 30px;
        width: 95%;
    }

    button {
        padding: 20px;
        font-size: 30px;
    }

    h1 {
        font-size: 1.8rem;
    }
}
